$basepath:'/_/css/';

// Colors
//-------------------------------------------------------------------------------
$yellow: #efe708;
$lime: #85FF00;
$seafoam: #72f888;
$aqua: #0bf6ff;
$skyblue: #50acf9;
$periwinkle: #7232f5;
$violet: #9900ff;
$purple: #cc00ff;
$pink: #ff00ff;
$magenta: #ff0066;
$red: #ff0033;

$default-text-color: #555;
$default-link-color: $periwinkle;
$default-hover-color: $magenta;


//Typography
//-------------------------------------------------------------------------------*/
$default-font-size: 1em; //16px
$default-font-family: "Open sans";
$default-line-height: 1.5em; //24px