Options +Indexes
Satisfy any
Order Deny,Allow
Allow from 212.227.112.228
Deny from all
RemoveType .html .gif
AuthType Basic
AuthName "Access to /logs"
AuthUserFile /kunden/homepages/30/d407499383/htpasswd
Require user u68205233
